* {
  box-sizing: border-box;
  margin: 0;
  /* outline: 0; */
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}

::placeholder {
  color: rgb(167, 167, 167)
}

.btn {
  background-color: seagreen;
  border: none;
  font-size: 13px;
  /* font-weight: bold; */
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 3px;
}

.btn.delete {
  padding: 2px 8px;
}

.btn.complete.delete {
  background-color: rgb(255, 99, 71, 0.8);
}

.btn.add-category {
  margin-bottom: 8px;
}

.btn.complete-list-open {
  background-color: transparent;
  color: seagreen;
  font-weight: 700;
}

input, .todoList-text, .complete-List-text {
  width: 70%;
  border: none;
  padding: 10px;
  font-size: 15px;
}

#search-input {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 13px;
}

.category-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-entry input,
#category-default-form input {
  padding: 5px 10px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: rgb(244, 244, 244);
}

#root {
  width: 900px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.1);
}

nav, section {
  padding: 25px;
}

nav {
  flex: 0 0 250px;
}

section {
  flex: 0 0 650px;
}

#category-wrapper {
  margin-top: 20px;
}

#todo-list-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#todo-list-nav .btn {
  align-self: center;
}

.complete-List-text {
  color: grey;
}

#completed-list.active {
  padding-bottom: 10px;
  border-bottom: 1px dotted rgb(255, 99, 71, 0.8);
  margin-bottom: 10px;
}

#todo-default-form {
  padding-left: 18px;
}

.todoList-entry {
  display: flex;
  align-items: center;
}

.todoList-label-inComplete, .todoList-label-complete {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid seagreen;
}

.todoList-label-complete {
  border: none;
  background-color: rgb(255, 99, 71, 0.8);
}

/* .completed-list-info {
  display: flex;
  justify-content: space-between;
} */

.completed-list-info p {
  font-size: 13px;
  color: grey;
  padding-left: 8px; 
}

/* .todoList-entry, .category-entry, input {
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 10px;
} */